hr {
  width: 600px;
}
body {
  background-color: white;
  width: 600px;
  margin: auto;
  padding: 20px 100px;
}
.calculate button {
  font-size: 32px;
}
button {
  font-family: "courier new", courier, monospace;
  border-radius: 10px;
  font-size: medium;
  color: yellow;
  background-color: blue;
}
button:hover {
  cursor: pointer;
  background-color: aqua;
  color: darkred;
}
html {
  margin-bottom: 200px;
}
